{% extends 'base.html' %}


{% block content %}

<div class = "container">
    <div class = "jumbotron">
        <h1>Protest_Detail</h1>
            <p>
                제목 : {{protest.title}}<br><br>

                {% if protest.photo %}
                    <img src = "{{protest.photo.url}}" />
                {% endif %}


                내용 : {{protest.content}}
            </p>

            <br><input type = "button" value = "수정하기" onclick = "location = 'edit/'">

    </div>
</div>
{% endblock %}